.menu {
    background-color: #f2f2f2;
    height: 65px;
    display: flex;
    align-items: center;
}

.characters__categories {
    display: flex;
    list-style-type: none;
}

.character__type {
    border: 1px solid black;
    display: grid;
    place-content: center;
    padding: 0.3rem 0.5rem;
}

.character__type:hover {
    background-color: dimgrey;
}

.character__type:first-of-type {
    border-radius: 4px 0 0 4px;
}

.character__type:last-of-type {
    border-radius: 0 4px 4px 0;
}

.character__type:not(:last-of-type) {
    border-right: 0;
}

.formSearchCharacter {
    margin-left: 2rem;
}

input#name {
    height: 27px;
}

.search-btn {
    height: 33px;
    color: #afafaf;
    border: 1px solid #afafaf;
    border-left: 0;
}

